@import "../../../styles/variables";

$search-btn-color: #dadada;

.mainContent {
    background: #fff;
    min-height: calc(100vh - 150px);
    overflow: hidden;
    margin-top: $header-height;
}

.headerSearchContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    height: 100%;
    width: 33%;
    position: relative;
}

.headerMenuContainer {
    flex: 1;
    width: 33%;
    padding-left: 20px;
}

.headerAccountContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    width: 33%;
    height: 80%;
    padding-right: 20px;
}

.headerMenuIcon {
    font-size: 1.5rem;
    color: #333;
}

.headerAccountIcon {
    padding: 2.5px 10px;
    border-radius: 50%;
    width: 35px;
    font-size: 2rem;
    color: #333;
    text-align: center;
    box-shadow: 0px 1px 6px -2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.headerSearchButton {
    z-index: 1;
    cursor: pointer;
    font-size: 1.25rem;
    border: 1px solid darken($search-btn-color, 10%);
    background: $search-btn-color;
    color: #444;
    margin-left: -1px;
    padding: 0px 34px 0px 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 20px;
    height: 60%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    &:hover {
        background: darken($search-btn-color, 5%);
    }

    &:active {
        background: darken($search-btn-color, 10%);
    }
}

.headerSearchBar {
    z-index: 2;
    font-size: 1rem;
    padding: 5px;
    height: 60%;
    width: calc(100% - 20px - 20px - 20px);
    box-shadow: 0px 0px 2px -1px #000;
    border: 1px solid #bbb;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    &:focus {
        border: 0;
    }
}

.headerContainer {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: $header-height;
    z-index: 1;
    background: $background-color;
}

.footerContainer {
    height: $footer-height;
    text-align: center;

    ul > li {
        display: inline-block;
        list-style-type: none;

        &:not(:last-child)::after {
            content: " | ";
            padding: 0px 10px;
        }
    }
}

.headerContainer, .footerContainer {
    color: #111;
}

.searchCancel {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    right: 70px;
}

.accountMenu {
    position: absolute;
    right: 0;
    top: $header-height;
}