@mixin loader-animation-stagger {
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 200ms;
        }
    }
}

@keyframes loader-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    99% {
        opacity: 1;
    }
}

.loader {
    background: #ddd;
    animation: loader-animation;
    animation-iteration-count: infinite;
    animation-duration: 1400ms;
    @include loader-animation-stagger;
}
