$header-height: 55px;
$footer-height: 100px;
$background-color: #fcfcfc;
$font-title: 'Kanit', sans-serif;
$font-subtitle: 'Nunito', sans-serif;
$font-main: 'Lato', sans-serif;
$header-color: #fbfbfb;
$footer-color: #347dc7;